# Logging
LOG_TO_FILE=true

# Database Configuration
DB_USER=stock_user
DB_PASSWORD=somedbpassword
DB_NAME=stock_exchange
SECRET_KEY=somesecretkey

# Optional (if you need more env vars later)
# API_KEY=your_api_key_here
# REDIS_HOST=redis